/* -------------------------- Media Queries -------------------------- */
@media (min-width: 576px) {
    .place_order .widget_modal {
        width: 500px !important;
    }
}
@media (min-width: 768px) {
    .place_order .widget_modal {
        width: 800px !important;
    }
}
@media (max-height: 1000px) {
    .modal {
        overflow-y: auto;
    }
}


.place_order_button {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    z-index: 1010;
    cursor: pointer;
    margin: 20px 20px 10px;
}
.place_order_button .big_button {
    display: flex;
    width: 64px;
    height: 64px;
    align-items: center;
    justify-content: inherit;
    font-size: 32px;
    background-color: #b53600;
    color: #f5f5f5;
    border-radius: 50%;
    box-shadow: 3px 4px 10px -2px rgb(0 0 0 / 40%);
}
.place_order_button .big_button_text {
    color: #b53600;
    font-size: 14px;
    font-weight: 700;
    margin-top: 10px;
    text-transform: uppercase;
}
.place_order .modal {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
    background-color: rgba(3, 7, 8, .75);
    transition: opacity .2s ease-out, visibility .2s ease-out;
    z-index: 1040;
}
.place_order .modal_opened {
    opacity: 1;
    visibility: visible;
}
.place_order .widget_modal {
    display: flex;
    width: 100%;
    align-items: stretch;
    border-radius: 3px;
    box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
    background: var(--background-color-light);
    z-index: 1050;
    margin: auto;
    padding: 0;
}

/* Place Order Modal Component styling */
.modal_widget_preview {
    display: flex;
    min-width: 30%;
    max-width: 30%;
    min-height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: var(--background-color-darker);
    padding-top: 55px;
}
.modal_widget_preview .preview_seperator {
    width: 100%;
    height: 1px;
    background: #283235;
    margin: 40px 0 20px;
}
.modal_widget_preview .item__image {
    display: flex;
    position: relative;
    width: 150px;
    height: 150px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 3px solid var(--primary-link-text);
    box-shadow: 0 7px 15px -3px var(--primary-link-text);
    background: #071013 !important;
    transition: color .3s ease, border .3s ease, background .3s ease,
        box-shadow .3s ease;
    overflow: visible;
}
.widget_modal_content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    background: var(--background-color);
}
.widget_modal_content .widget_modal_header {
    display: flex;
    flex-wrap: wrap;
    background: var(--background-color-dark);
    border-bottom: 1px solid var(--border-color);
    margin-left: -15px;
    margin-right: -15px;
}