/* --------------------- Media Queries --------------------- */
@media (max-width: 769px) {
    .header__container {
        background-size: 1800px !important;
        background-position: 50% -80px !important;
    }
}
@media (max-width: 821px) {
    .header__container {
        background-size: 1550px !important;
        background-position: 50% -40px !important;
    }
}
@media (min-width: 1200px) {
    .header_search_container {
        max-width: 1140px;
    }
}


/* Header container styling */
.header__container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    position: relative;
    min-height: 595px;
    background-image: url('../../../../../assets/images/home/D2R-SelectHeroBackground-1900.jpg');
    background-size: 100%;
    background-position: 0px -5.8rem;
    background-attachment: scroll;
}
.header_body {
    flex-grow: 1;
    min-height: inherit;
    width: 100%;
    padding-bottom: 120px;
}
.flex--left,
.flex--right {
    flex-grow: 1;
    flex-basis: 0;
    position: relative;
}

/* Header search container styling */
.header_search_container {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.header_search_container > .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: sticky;
    margin-right: -15px;
    margin-left: -15px;
    top: 60px;
    z-index: 20;
}