/* --------------------- Media Queries --------------------- */
@media (min-width: 1200px) {
    .header__container {
        margin-bottom: -180px !important;
    }
    .header_body {
        padding-bottom: 180px !important;
    }

    .search_header {
        max-width: 1140px;
    }
}
@media (max-width: 1470px) {
    .header__container {
        background-image: url('../../../../../assets/images/home/D2R-SelectHerobackground2-960.jpg') !important;
        background-position: unset !important;
    }
}

@media not all and (hover: hover) {
    .header__container {
        min-height: 877px !important;
    }
}


/* Header container styling */
.header__container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
    min-height: 100vh;
    background-image: url('../../../../../assets/images/home/D2R-SelectHerobackground2-1920.jpg');
    background-size: 100%;
    background-position: 0 -8rem;
}
.header_body {
    flex-grow: 1;
    min-height: inherit;
    width: 100%;
    padding-bottom: 120px;
}
.flex--left,
.flex--right {
    flex-grow: 1;
    flex-basis: 0;
    position: relative;
}

/* Header search container styling */
.search_header {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
}
.search_header > .row {
    position: sticky;
    top: 60px;
    align-items: center;
    justify-content: center;
    z-index: 20;
}