.content_body__container {
    background: var(--primary-background);
    flex-grow: 1;
    transition: background .2s;
}
.recent_orders {
    display: grid;
    grid-column-gap: 15px;
    column-gap: 15px;
    grid-template-rows: [orders] 1fr [buttons] min-content;
    grid-template-areas:
    'orders'
    'buttons';
}
.content_body__container .recent_orders
.orders {
    grid-area: orders;
    display: flex;
    margin: 0 -15px;
}
.content_body__container .orders
.order_type_marker {
    text-align: center;
    border-radius: 3px;
    line-height: 16px;
    font-size: 14px;
    padding: 0 4px;
}
.content_body__container .orders > div {
    width: 50%;
}
.content_body__container .orders
.listings_sell {
    padding-left: 0;
    padding-right: 20px;
}
.content_body__container .orders
.listings_sell .listings__header,
.content_body__container .orders
.listings_buy .listings__header {
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 20px 5px;
}
.sell {
    color: #4ac2cb;
    background: rgba(74, 166, 203, 0.315);
    padding: 0 5px;
    border-radius: 3px;
    white-space: nowrap;
}
.buy {
    color: #209e70;
    background: rgba(32, 158, 112, .25);
    padding: 0 5px;
    border-radius: 3px;
    white-space: nowrap;
}