/* ------ Media Queries ------ */
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
    /* General Column Styling */
    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-md-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .col-md-8 {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 970px;
    }
    .col-lg-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
@media (min-width: 1400px) {
    .container {
        max-width: 50%;
    }
}
@media (min-width: 1594px) {
    .container {
        max-width: 60%;
    }
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.content__container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    padding-top: 60px;
}
.content {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: visible;
}
.content_body {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: visible;
}
.content_container section:nth-last-child(3) {
    flex-grow: 5;
}
.content_header_second {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background: #171e21;
    z-index: 3;
    box-shadow: 0 10px -5px rgba(7, 16, 19, .25);
}
.flex__left, .flex__right {
    flex-grow: 1;
    flex-basis: 0;
    position: relative;
}
.flex__root {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
.flex_bottom {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 45px;
    background-color: #101619;
}
.b-outline {
    border-bottom: 1px solid #203137;
}
.visible {
    display: block;
}
.input_focus {
    border: 1px solid var(--primary-component-focused) !important;
    outline: 0;
    box-shadow: 0 0 0 .15rem rgba(212, 0, 0, 0.25);
}


/* Global row styling */
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
/* Global column styling */
.col {
    position: relative;
    flex-basis: 0;
    flex-grow: 1;
    width: 100%;
    max-width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-12 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-lg-6 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
/* Global padding styling */
.py-4 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}
.pb-2 {
    padding-bottom: .5rem !important;
}
/* Global margin styling */
.mx-0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
}