/* -------------------------- Media Queries -------------------------- */
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
    /* General Column Styling */
    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-md-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .col-md-8 {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 970px;
    }
    .col-lg-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
@media (min-width: 1400px) {
    .container {
        max-width: 50%;
    }
}
@media (min-width: 1594px) {
    .container {
        max-width: 60%;
    }
}

/* -------------------------- Content Wrapped Styling -------------------------- */
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.content__container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    padding-top: 60px;
}
.content {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: visible;
}
.content_body {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: visible;
}
.content_container section:nth-last-child(3) {
    flex-grow: 5;
}
.content_header_second {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background: #171e21;
    z-index: 3;
    box-shadow: 0 10px -5px rgba(7, 16, 19, .25);
}
.flex__left, .flex__right {
    flex-grow: 1;
    flex-basis: 0;
    position: relative;
}
.flex__root {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
.flex_bottom {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 45px;
    background-color: #101619;
}
.b-outline {
    border-bottom: 1px solid var(--border-color-light);
}
.visible {
    display: block !important;
}
.hidden {
    display: none !important;
}
.online {
    color: var(--color-status-online);
}
.online_ingame {
    color: var(--color-status-online-ingame);
}
.invisible {
    color: var(--color-status-invisible);
}
.input_focus {
    border: 1px solid var(--primary-component-focused) !important;
    outline: 0;
    box-shadow: 0 0 0 .15rem rgba(212, 0, 0, 0.25);
}
.disabled_link {
    color: var(--disabled-text) !important;
    cursor: not-allowed !important;
}
.disabled_button {
    background-color: var(--disabled-text) !important;
    color: var(--primary-link-text) !important;
    cursor: not-allowed !important;
}


/* -------------------------- Global "Row" Styling -------------------------- */
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

/* -------------------------- Global "Column" Styling -------------------------- */
.col {
    flex-basis: 0;
    flex-grow: 1;
    position: relative;
    width: 100%;
    max-width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-2 {
    flex: 0 0 16.666667%;
    position: relative;
    max-width: 16.666667%;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-3 {
    flex: 0 0 25%;
    position: relative;
    max-width: 25%;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-4 {
    flex: 0 0 33.333333%;
    position: relative;
    max-width: 33.333333%;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-5 {
    flex: 0 0 41.666667%;
    position: relative;
    max-width: 41.666667%;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-6 {
    flex: 0 0 50%;
    position: relative;
    max-width: 50%;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-7 {
    flex: 0 0 58.333333%;
    position: relative;
    max-width: 58.333333%;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-8 {
    flex: 0 0 66.666667%;
    position: relative;
    max-width: 66.666667%;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-9 {
    flex: 0 0 75%;
    position: relative;
    max-width: 75%;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-10 {
    flex: 0 0 83.333333%;
    position: relative;
    max-width: 83.333333%;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-11 {
    flex: 0 0 91.666667%;
    position: relative;
    max-width: 91.666667%;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-12 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-lg-6 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

/* -------------------------- Global "Padding" Styling -------------------------- */
.py-1 {
    padding-top: .25rem !important;
    padding-bottom: .25rem !important;
}
.py-2 {
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.py-3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.py-4 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}
.py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}
.pb-1 {
    padding-bottom: .25rem !important;
}
.pb-2 {
    padding-bottom: .5rem !important;
}
.pb-3 {
    padding-bottom: .75rem !important;
}
.pb-4 {
    padding-bottom: 1rem !important;
}
.pb-5 {
    padding-bottom: 1.25rem !important;
}

/* -------------------------- Global "Margin" Styling -------------------------- */
.mx-0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
}
.mx-1 {
    margin-right: .25rem !important;
    margin-left: .25rem !important;
}
.mx-2 {
    margin-right: .5rem !important;
    margin-left: .5rem !important;
}
.mx-3 {
    margin-right: 1rem !important;
    margin-left: 1rem !important;
}
.mx-4 {
    margin-right: 1.5rem !important;
    margin-left: 1.5rem !important;
}
.mx-5 {
    margin-right: 3rem !important;
    margin-left: 3rem !important;
}
.mb-1 {
    margin-bottom: .25rem !important;
}
.mb-2 {
    margin-bottom: .5rem !important;
}
.mb-3 {
    margin-bottom: 1rem !important;
}
.mb-4 {
    margin-bottom: 1.5rem !important;
}
.mb-5 {
    margin-bottom: 3rem !important;
}