/* ------ Media Queries ------ */
@media (min-width: 386px) {
    .link_block span {
        font-size: 12.5px;
        font-weight: 400;
    }
    .settings__container > .removal_button {
        padding-top: 5px;
    }
}
@media (min-width: 576px) {

}
@media (min-width: 768px) {

}
@media (min-width: 992px) {

}
@media (min-width: 1200px) {

}
@media (min-width: 1400px) {

}
@media (min-width: 1594px) {

}


/* Settings container styling */
.settings__container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    padding-top: 60px;
    overflow: visible;
    color: #919596;
}

/* Settings Header styling */
.settings_header {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background-image: url('../../../../../../assets/images/d2r-settings-bg-01.jpg');
    background-position: 100px -100px;
    background-attachment: scroll;
    background-repeat: repeat-x;
    z-index: 10;
}
.settings_header .header_image_overlay {
    width: 100%;
    height: 120px;
    position: absolute;
    background: rgba(7, 16, 19, .25);
    z-index: 11;
}
.settings_header > .header_content {
    display: flex;
    align-items: center;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    min-height: 120px;
}
.settings_header > .header_content h1 {
    text-transform: uppercase;
    font-size: 1.3rem;
    line-height: 1.2;
    font-weight: 500;
    color: #f5f5f5 !important;
    margin-bottom: 0;
    z-index: 12;
}
.settings_subheader {
    background: var(--background-color-darker);
    backdrop-filter: blur(5px);
    z-index: 1;

}
.settings_tab {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
.settings_tab > .tabs {
    display: flex;
    position: relative;
    width: 100%;
    max-width: 100%;
    min-height: 1px;
    flex-basis: 0;
    flex-grow: 1;
    color: var(--primary-link-text);
    font-weight: 700;
    font-size: 14px;
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    text-transform: uppercase;
}
.tabs > li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.settings_tab .smartlink {
    display: flex;
    flex-direction: row;
    color: var(--primary-link-text);
    align-items: center;
    justify-content: center;
    padding: 10px 15px 5px;
    border-bottom: 3px solid transparent;
    white-space: nowrap;
    cursor: pointer;
    text-decoration: none;
}
.settings_body {
    background: var(--primary-background);
}
.settings__container .settings_content {
    width: 100%;
    background: var(--background-color-light);
    align-content: flex-start !important;
}
.settings_content .form_group {
    position: relative;
    margin-bottom: 1rem;
}
.settings_content .form_group label:not(button) {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #c5c7c8;
    font-size: 14px;
    margin-bottom: 5px;
}
.settings_content .form_control {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 14px;
    line-height: 1.5;
    color: var(--primary-input-text);
    background-color: #121212;
    background-clip: border-box;
    border: 1px solid #213138;
    border-radius: .15rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, .1);
}
.settings_content .form_control input {
    flex-grow: 1;
    max-width: 100%;
    padding: .45rem .75rem .3rem;
    color: var(--primary-input-text);
    background-color: transparent;
    border: 0;
    background-clip: border-box;
    box-shadow: initial;
}
.settings_content .form_control input:focus {
    outline: 0;
    border: 0;
}
.settings__container > .fixed_height {
    min-height: 100px;
}
.settings__container > .removal_button {
    display: flex;
    align-items: center;
}
.fixed_height > .confirm_removal {
    display: flex !important;
    align-items: center !important;
    min-height: 100px !important;
}
.settings__container .header_lightened {
    color: #eff2f3;
}
.linked_accounts .link_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
}
.link_block > .icon {
    height: 1.2em;
    vertical-align: -.125em;
    fill: #fafbfc;
}
.active {
    color: var(--primary-active-link);
    border-bottom: 3px solid var(--primary-active-link);
}
.settings_content .form_field_errors {
    display: none;
    position: absolute;
    bottom: -8px;
    right: 10px;
    background-color: #121212;
    color: var(--color-danger-text);
    font-family: 'sans-serif';
    font-size: 12px;
    list-style: none;
    margin-left: 0;
    margin-bottom: 0;
    padding: 0 7px;
    border-right: 1px solid #203137;
    border-left: 1px solid #203137;
    pointer-events: none;
    z-index: 50;
}
.settings_content .form_errors {
    display: none;
    background: #34201b;
    color: var(--color-danger-text);
    font-family: sans-serif;
    font-size: 12px;
    list-style-type: none;
    border-top: 1px solid var(--border-color-danger);
    padding: 10px;
    margin-bottom: 1rem;
}