.button_container {
    width: 50px;
    height: 50px;
    background-color: transparent;
}

.inner_circle {
    position: relative;
    top: 8px;
    left: 6.5px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 2px solid #080808;
    border-radius: 50%;
}

.smallcircle_center {
    position: relative;
    bottom: 14px;
    left: 17px;
    width: 10px;
    height: 10px;
    background-color: #080808;
    border-radius: 50%;
}

.line {
    position: relative;
    bottom: 2.9rem;
    left: 18px;
    width: 2px;
    height: 60px;
    background-color: #080808;
    transform: rotate(45deg);
}

.line_2 {
    position: relative;
    bottom: 6.7rem;
    left: 22px;
    width: 2px;
    height: 60px;
    background-color: #080808;
    transform: rotate(-45deg);
}

.line_3 {
    position: relative;
    bottom: 9.2rem;
    left: 21px;
    width: 2px;
    height: 20px;
    background-color: #080808;
}

.line_4 {
    position: relative;
    bottom: 10.55rem;
    left: 21px;
    width: 2px;
    height: 20px;
    background-color: #080808;
    transform: rotate(90deg);
}

.circle_endpoint_1 {
    position: relative;
    bottom: 12.6rem;
    left: -1px;
    width: 8px;
    height: 8px;
    background-color: #080808;
    border-radius: 50%;
}

.circle_endpoint_2 {
    visibility: visible;
    position: relative;
    bottom: 13.2rem;
    left: 2.4rem;
    width: 8px;
    height: 8px;
    background-color: #080808;
    border-radius: 50%;
}

.circle_endpoint_3 {
    visibility: visible;
    position: relative;
    bottom: 11rem;
    left: -5px;
    width: 8px;
    height: 8px;
    background-color: #080808;
    border-radius: 50%;
}

.circle_endpoint_4 {
    position: relative;
    bottom: 11.6rem;
    left: 2.45rem;
    width: 8px;
    height: 8px;
    background-color: #080808;
    border-radius: 50%;
}

.inner_circle_endpoint_1 {
    position: relative;
    bottom: 14rem;
    left: 19.5px;
    width: 5px;
    height: 5px;
    background-color: #080808;
    border-radius: 50%;
}

.inner_circle_endpoint_2 {
    position: relative;
    bottom: 13.62rem;
    left: 31px;
    width: 5px;
    height: 5px;
    background-color: #080808;
    border-radius: 50%;
}

.inner_circle_endpoint_3 {
    position: relative;
    bottom: 13.93rem;
    left: 8px;
    width: 5px;
    height: 5px;
    background-color: #080808;
    border-radius: 50%;
}

.inner_circle_endpoint_4 {
    position: relative;
    bottom: 13.5rem;
    left: 19.5px;
    width: 5px;
    height: 5px;
    background-color: #080808;
    border-radius: 50%;
}