:root {
  --primary-link-text: rgb(180, 69, 69);
  --primary-link-text-dimmed: #984054;
  /* --primary-link-text: rgb(204, 179, 147); */
  --primary-active-link: rgb(247, 76, 79);
  --primary-input-text: #abaeaf;
  --primary-subtext-color: rgb(53, 50, 50);
  --primary-background: #101619;
  --primary-button-background: #9c3f3f;
  /* --primary-button-background: rgb(204, 179, 147); */
  --primary-button-background_lighter: rgb(212, 86, 86);
  --primary-component-focused: #d40000;
  /* --primary-component-focused: #0055d4; */
  --secondary-active-link: rgb(89, 187, 255);
  --background-color: #101619;
  --background-color-light: #171e21;
  --background-color-dark: #171e21;
  --background-color-darker: #071013;
  --border-color: #2d3437;
  --border-color-light: #203137;
  --border-color-dark: #283235;
  --border-color-danger: #cc3000;
  --color-status-online: #04be04;
  --color-status-online-ingame: #FF3D99;
  --color-status-invisible: #808080;
  --color-dark-text: #aab3b6;
  --color-danger-text: #cc3000;
  --color-disclaimer-dark: #333d40;
  --color-input-background: #121212;
  --color-input-border: #213138; 
  --disabled-text: rgb(128, 128, 128);
  --disabled-button: rgb(128, 128, 128);
}

/* Custom scroll bar styling */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.6); 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--primary-link-text);
  /* background: rgb(206, 186, 162);  */
  border-radius: 10px;
}

/* Reset and style some global variables */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
}

body {
  font-family: 'AVQuest';
  background-color: #2c2f31;
  color: #fff; 
}
h1, h3 {
  text-transform: uppercase;
}
h3, h5 {
  font-size: 1rem;
}

@font-face {
  font-family: 'AVQuest';
  src: url('../../../assets/fonts/Avqest.ttf');
  font-weight: 700;
  font-size: 16px;
  line-height: 1.6;
}

#root {
  min-height: 100vh;
}

.main__container {
  min-height: inherit;
}