:root {
  --primary-link-text: rgb(180, 69, 69);
  --primary-active-link: rgb(247, 76, 79);
  --primary-input-text: #abaeaf;
  --primary-background: #101619;
  --primary-button-background: #9c3c3c;
  --primary-button-background_lighter: rgb(200, 60, 60);
  --primary-component-focused: #d40000;
  --background-color: #101619;
  --background-color-light: #171e21;
  --background-color-darker: #071013;
  --border-color: #2d3437;
  --border-color-light: #203137;
  --border-color-danger: #cc3000;
  --color-status-online: darkgreen;
  --color-status-online-ingame: #FF3D99;
  --color-danger-text: #cc3000;
  --disabled-text: rgb(128, 128, 128);
  --disabled-button: rgb(128, 128, 128);
}

/* Reset and style some global variables */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
}

body {
  font-family: 'AVQuest';
  background-color: #2c2f31;
  color: #fff; 
}

@font-face {
  font-family: 'AVQuest';
  src: url('../../../assets/fonts/Avqest.ttf');
  font-weight: 700;
  font-size: 16px;
  line-height: 1.6;
}

#root {
  min-height: 100vh;
}

.main__container {
  min-height: inherit;
}